{% load static %}
<span class="ball red ball-lg noti-dot totalunreadMain" id="notification-main-count">{{ notification_header_count }}</span>

<span class="badge bg-primary totalunread" id="notification-main-sect-count">({{ notification_header_count }})</span>


<div class="dropdown-item-list header-list-notification" id="notification-header-list">
    {% for notification_header in notification_header %}
    <a class="dropdown-item header-notification-all" href="#">
        <div class="media media-card media--card shadow-none mb-0 rounded-0 align-items-center bg-transparent">
            <div class="media-img media-img-sm flex-shrink-0">
                <img src="{{ notification_header.from_user.user_profile.user_image.url }}" alt="avatar">
            </div>
            <div class="media-body p-0 border-left-0">
                <h4 class="fs-14 fw-regular"><b>Connect request</b></h4>
                <h6 class="fs-14 fw-regular">{{ notification_header.subject }}</h6>
                <small class="meta d-block lh-24">
                    <span>{{ notification_header.published_date }}</span>
                </small>
            </div>
        </div>
    </a>
    {% endfor %}
</div>


<div  id="main-notification-section-list" hx-swap-oob="afterbegin">
    <div class="media media-card media--card shadow-none rounded-0 align-items-center bg-transparent notification-all">
        <div class="media-img media-img-sm flex-shrink-0">
            <img src="{{ all_notification.from_user.user_profile.user_image.url }}" alt="avatar">
        </div>
        <div class="media-body p-0 border-left-0">
            <h3 class="fs-14 fw-regular"><b> Connect request from {{ all_notification.from_user|capfirst }}</b></h3>
            <h5 class="fs-14 fw-regular">{{all_notification.subject}}</h5>
            <p class="fs-12 fw-regular">{{all_notification.body}}</p>
            <small class="meta d-block lh-24">
                <span><b>{{all_notification.created}}</b></span>
            </small>
            <hr>
        </div>
        <a href="{% url 'approve_friend_request' all_notification.id  %}" class="btn theme-btn fs-17 ml-2" type="button" data-toggle="tooltip" data-placement="top" title="approve request">Approve<i class="la la-eye"></i></a>
    </div>
</div>

