{% include 'super_admin/base.html' %}

{% load static %}




{% block content %}

        <div class="content-body">
            <div class="container-fluid">

                <!-- row -->


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">All User</h4>
                                <a href="{% url 'export_pdf_user_super' %}" class="btn btn-secondary">Export Pdf </a>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    
                                    <table id="example3" class="display" style="min-width: 845px">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Names</th>
                                                <th>Mobile</th>
                                                <th>Email</th>
                                                <th>Location</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for all_user in all_user %}
                                            {% if not all_user.admin %}
                                            <tr>
                                                <td><img class="rounded-circle" width="35" src="{{ all_user.get_profile_image }}" alt=""></td>
                                                <td>{{ all_user.full_name }}</td>
                                                <td><a href="javascript:void(0);"><strong>{{ all_user.phone_number }}</strong></a></td>
                                                <td><a href="javascript:void(0);"><strong>{{ all_user.email }}</strong></a></td>
                                                <td>{{ all_user.get_profile_location }}</td>
                                                <td>
                                                    {% if all_user.is_verified %}
                                                        <span class="badge light badge-success">
														<i class="fa fa-circle text-success me-1"></i>
														activated
													</span>
                                                        {% else %}
                                                        <span class="badge light badge-danger">
														<i class="fa fa-circle text-danger me-1"></i>
														not activated
													</span>
                                                    {% endif %}
												</td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
            </div>
        </div>


<!-- Datatable -->
    <script src="{% static 'dashboard/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'dashboard/js/plugins-init/datatables.init.js' %}"></script>
{% endblock %}