{% include 'super_admin/base.html' %}

{% load static %}




{% block content %}

    <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
				<div class="row">
                    <div class="col-xl-12">
								<div class="card">
									<div class="card-body">
										<div class="row shapreter-row">
											<div class="col-xl-2 col-lg-2 col-sm-4 col-6">
												<div class="static-icon">
													<span>
														<i class="fas fa-eye"></i>
													</span>
													<h3 class="count">{{ all_question }}</h3>
													<span class="fs-14">Question</span>
												</div>
											</div>
											<div class="col-xl-2 col-lg-2 col-sm-4 col-6">
												<div class="static-icon">
													<span>
														<i class="far fa-comments"></i>
													</span>
													<h3 class="count">{{ all_answer }}</h3>
													<span class="fs-14">Answer</span>
												</div>
											</div>
											<div class="col-xl-2 col-lg-2 col-sm-4 col-6">
												<div class="static-icon">
													<span>
														<i class="fas fa-suitcase"></i>
													</span>
													<h3 class="count">{{ all_application }}</h3>
													<span class="fs-14">Application Sent</span>
												</div>
											</div>
											<div class="col-xl-2 col-lg-2 col-sm-4 col-6">
												<div class="static-icon">
													<span>
														<i class="fas fa-suitcase"></i>
													</span>
													<h3 class="count">{{ all_job }}</h3>
													<span class="fs-14">Job</span>
												</div>
											</div>
											<div class="col-xl-2 col-lg-2 col-sm-4 col-6">
												<div class="static-icon">
													<span>
														<i class="fas fa-calendar"></i>
													</span>
													<h3 class="count">{{ all_interviewed }}</h3>
													<span class="fs-14">Interviewed</span>
												</div>
											</div>
											<div class="col-xl-2 col-lg-2 col-sm-4 col-6">
												<div class="static-icon">
													<span>
														<i class="fas fa-phone-alt"></i>
													</span>
													<h3 class="count">{{ all_hired }}</h3>
													<span class="fs-14">Hired</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

				</div>
            </div>
        </div>
    <script>
		$(document).ready(function() {

		  var counters = $(".count");
		  var countersQuantity = counters.length;
		  var counter = [];

		  for (i = 0; i < countersQuantity; i++) {
			counter[i] = parseInt(counters[i].innerHTML);
		  }

		  var count = function(start, value, id) {
			var localStart = start;
			setInterval(function() {
			  if (localStart < value) {
				localStart++;
				counters[id].innerHTML = localStart;
			  }
			}, 40);
		  }

		  for (j = 0; j < countersQuantity; j++) {
			count(0, counter[j], j);
		  }
		});
	</script>


{% endblock %}