{% extends 'base_white.html' %}

{% load static %}

{% block title %} friend {% endblock %}

{% block content %}

<section class="question-area pt-40px pb-40px">
    <div class="container">
        <div class="filters pb-3">
            <div class="d-flex flex-wrap align-items-center justify-content-between pb-3">
                <h3 class="fs-22 fw-medium">Friend List</h3>
            </div>
        </div><!-- end filters -->
        <div class="row">
            {% for friend in all_chat_groups %}
                {% for user_pro in friend.members.all %}
                    {% if request.user != user_pro %}
                <div class="col-lg-3 responsive-column-half">
                    <div class="media media-card p-3">
                        
                        <a href="#!" class="media-img d-inline-block flex-shrink-0">
                            <img src="{{ user_pro.user_profile.user_image.url }}" alt="company logo">
                        </a>
                            
                        <div class="media-body">
                            <h5 class="fs-16 fw-medium"><a href="">{{ user_pro.full_name|capfirst }}</a></h5>
                            <small class="meta d-block lh-24 pb-1"><span>{{ user_pro.email  }}</span></small>
                            <p class="fw-medium fs-15 text-black-50 lh-18">{{ user_pro.phone_number }}</p>
                            <a href="#" class="badge badge-md badge-dark d-inline-flex align-items-center"><span class="ball bg-gray"></span> Chat</a>
                        </div><!-- end media-body -->
                    </div><!-- end media -->
                </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div><!-- end container -->
</section>

{% endblock %}