{% extends 'base_white.html' %}

{% load static %}

{% block title %} Chat User {% endblock %}
{% block styles %}
<style>
    body, html {
        height: 100%;
    }
    section.footer-area.pt-80px.bg-dark.position-relative {
        display: none;
    }

    .messages-box {
        flex: 1;
        overflow-y: auto;
        padding: 20px;
        padding-bottom: 30px;
    }

    .messages-list {
        padding-left: 0;
        display: flex;
        flex-direction: column;
    }

    .message {
        margin-bottom: 15px;
        list-style: none;
        display: flex;
    }

    .message-text {
        padding: 10px;
        border-radius: 5px;
        max-width: 60%;
        word-wrap: break-word;
    }

    .sent {
        justify-content: flex-end;
    }

    .sent .message-text {
        background-color: #dcf8c6;
        align-self: flex-end;
    }

    .received {
        justify-content: flex-start;
    }

    .received .message-text {
        background-color: #f1f0f0;
        align-self: flex-start;
    }

    .message-form {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        background-color: #f8f9fa;
    }

    .message-input {
        flex: 1;
        border-radius: 0;
        border-right: none;
    }

    .btn-send {
        border-radius: 0;
    }

    .chat-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .card-header {
        background-color: #0D233E;
    }

    .input-group-append button {
        background-color: #0D233E !important;
    }
</style>
{% endblock %}
{% block content %}
<section class="question-area">

    <div class="chat-container" id="main-chat-container">
        <div class="card flex-grow-1">
            <div class="card-header text-white">Chat</div>
            <div class="card-body messages-box">

                <ul class="list-unstyled messages-list" id="chat_messages">
                    {% for message in chat_messages reversed %} 
                        {% include 'partials/chat_message.html' with message=message user=user other_user=other_user %}
                    {% endfor %}
                </ul>

            </div>
        </div>
        <form class="message-form"
            hx-ext="ws"
            ws-connect="/ws/chatroom/{{ chat_group.group_name }}"
            ws-send
            _="on htmx:wsAfterSend reset() me"
        >
            {% csrf_token %}
            <div class="input-group">
                <input type="text" name="body" class="form-control message-input" placeholder="Type your message...">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary btn-send">Send</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script>
    function scrollToBottom(time = 0) {
    setTimeout(function() {
        window.scrollTo(0, document.body.scrollHeight);
    }, time);
}

scrollToBottom();
</script>
{% endblock %}
