{% extends 'base_white.html' %}

{% load static %}

{% block title %} Link sent {% endblock %}

{% block content %}

    <section class="error-area section-padding position-relative">
    <span class="icon-shape icon-shape-1"></span>
    <span class="icon-shape icon-shape-2"></span>
    <span class="icon-shape icon-shape-3"></span>
    <span class="icon-shape icon-shape-4"></span>
    <span class="icon-shape icon-shape-5"></span>
    <span class="icon-shape icon-shape-6"></span>
    <span class="icon-shape icon-shape-7"></span>
    <div class="container">
        <div class="media align-items-center justify-content-center error-content">
            <img src="{% static 'home/images/404.svg' %}" alt="error-image" class="img-fluid mr-5 error-content-img">
            <div class="media-body flex-inherit">
                <h2 class="section-title pb-3">Link sent successfully!</h2>
                <p class="section-desc pb-4">We've sent you the reset, link click on it to reset your email.</p>
                <ul class="generic-list-item">
                    <li>we mail you the instruction for reset password is described if an account exist with email you should receive shortly</li>
                    <li>if you don't receive make sure you address of email is registered all are in the spam folder</li>
                    <li>click here to return home, <a href="{% url 'home' %}" class="d-inline-block text-color hover-underline">Home</a></li>
                </ul>
            </div>
        </div>
    </div><!-- end container -->
</section>


{% endblock %}