{% extends 'base_white.html' %}

{% load static %}

{% block title %} register {% endblock %}

{% block content %}

    <!--======================================
        START SIGN UP AREA
    ======================================-->
    <section class="sign-up-area pt-80px pb-80px position-relative">
        <div class="container">
            {% include 'partial/_messages.html' %}
            <form action="" method="POST" class="card card-item">
                {% csrf_token %}
                <div class="card-body row p-0">
                    <div class="col-lg-6">
                        <div class="form-content py-4 pr-60px pl-60px border-right border-right-gray h-100 d-flex align-items-center justify-content-center">
                            <img src="{% static 'home/images/undraw-remotely.svg' %}" alt="Image" class="img-fluid">
                        </div>
                    </div><!-- end col-lg-6 -->
                    <div class="col-lg-5 mx-auto">
                        <div class="form-action-wrapper py-5">
                            <div class="form-group">
                                <h3 class="fs-22 pb-3 fw-bold">Join the Community</h3>
                                <div class="divider"><span></span></div>
                                <p class="pt-3">Give us some of your information to get free access.</p>
                            </div>
                            <div class="form-group">
                                <label class="fs-14 text-black fw-medium lh-18">User name</label>
                                <input type="text" id="username" name="full_name" class="form-control form--control" placeholder="Enter name" value="{{ fieldValues.full_name }}">
                                <div class="invalid-feedback" style="display: none">
                                </div>
                                <p class="text-sm text-success usernameSuccessOutput"></p>
                                {% for err in form.full_name.errors %}
                                                <div class="alert alert-danger alert-dismissible fade show">
                                                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="me-2"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
                                                    <strong>{{ err }}</strong>
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">
                                                    </button>
                                                </div>
                                {% endfor %}
                            </div><!-- end form-group -->
                            <div class="form-group">
                                <label class="fs-14 text-black fw-medium lh-18">Email</label>
                                <input type="email" id="emailField" name="email" class="form-control form--control" placeholder="Email address" value="{{ fieldValues.email }}">
                                <div class="emailFeedBackArea invalid-feedback" style="display: none">
                                </div>
                                <p class="text-sm text-success emailSuccessOutput"></p>
                                {% for err in form.email.errors %}
                                                <div class="alert alert-danger alert-dismissible fade show">
                                                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="me-2"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
                                                    <strong>{{ err }}</strong>
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">
                                                    </button>
                                                </div>
                                {% endfor %}
                            </div><!-- end form-group -->
                            <div class="form-group">
                                <label class="fs-14 text-black fw-medium lh-18">Phone number</label>
                                <input type="tel" id="phoneNumber" name="phone_number" class="form-control form--control" placeholder="Phone number" value="{{ fieldValues.phone_number }}">
                                <div class="phoneFeedBackArea invalid-feedback" style="display: none">
                                </div>
                                <p class="text-sm text-success phoneSuccessOutput"></p>
                                {% for err in form.phone_number.errors %}
                                                <div class="alert alert-danger alert-dismissible fade show">
                                                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="me-2"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
                                                    <strong>{{ err }}</strong>
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">
                                                    </button>
                                                </div>
                                {% endfor %}
                            </div><!-- end form-group -->
                            <div class="form-group">
                                <label class="fs-14 text-black fw-medium lh-18">Password</label>
                                <div class="input-group mb-1">
                                    <input class="form-control form--control password-field" type="password" name="password" placeholder="Password" value="{{ fieldValues.password }}">
                                    <div class="input-group-append">
                                        <button class="btn theme-btn-outline theme-btn-outline-gray toggle-password" type="button">
                                            <svg class="eye-on" xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 0 24 24" width="22px" fill="#7f8897"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 6c3.79 0 7.17 2.13 8.82 5.5C19.17 14.87 15.79 17 12 17s-7.17-2.13-8.82-5.5C4.83 8.13 8.21 6 12 6m0-2C7 4 2.73 7.11 1 11.5 2.73 15.89 7 19 12 19s9.27-3.11 11-7.5C21.27 7.11 17 4 12 4zm0 5c1.38 0 2.5 1.12 2.5 2.5S13.38 14 12 14s-2.5-1.12-2.5-2.5S10.62 9 12 9m0-2c-2.48 0-4.5 2.02-4.5 4.5S9.52 16 12 16s4.5-2.02 4.5-4.5S14.48 7 12 7z"/></svg>
                                            <svg class="eye-off" xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 0 24 24" width="22px" fill="#7f8897"><path d="M0 0h24v24H0V0zm0 0h24v24H0V0zm0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"/><path d="M12 6c3.79 0 7.17 2.13 8.82 5.5-.59 1.22-1.42 2.27-2.41 3.12l1.41 1.41c1.39-1.23 2.49-2.77 3.18-4.53C21.27 7.11 17 4 12 4c-1.27 0-2.49.2-3.64.57l1.65 1.65C10.66 6.09 11.32 6 12 6zm-1.07 1.14L13 9.21c.57.25 1.03.71 1.28 1.28l2.07 2.07c.08-.34.14-.7.14-1.07C16.5 9.01 14.48 7 12 7c-.37 0-.72.05-1.07.14zM2.01 3.87l2.68 2.68C3.06 7.83 1.77 9.53 1 11.5 2.73 15.89 7 19 12 19c1.52 0 2.98-.29 4.32-.82l3.42 3.42 1.41-1.41L3.42 2.45 2.01 3.87zm7.5 7.5l2.61 2.61c-.04.01-.08.02-.12.02-1.38 0-2.5-1.12-2.5-2.5 0-.05.01-.08.01-.13zm-3.4-3.4l1.75 1.75c-.23.55-.36 1.15-.36 1.78 0 2.48 2.02 4.5 4.5 4.5.63 0 1.23-.13 1.77-.36l.98.98c-.88.24-1.8.38-2.75.38-3.79 0-7.17-2.13-8.82-5.5.7-1.43 1.72-2.61 2.93-3.53z"/></svg>
                                        </button>
                                    </div>
                                </div>
                                <p class="text-sm text-success passwordMatch"></p>
                                {% for err in form.password.errors %}
                                                <div class="alert alert-danger alert-dismissible fade show">
                                                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="me-2"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
                                                    <strong>{{ err }}</strong>
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">
                                                    </button>
                                                </div>
                                {% endfor %}

                            </div><!-- end form-group -->
                            <div class="form-group">
                                <label class="fs-14 text-black fw-medium lh-18">Confirm Password</label>
                                <div class="input-group mb-1">
                                    <input class="form-control form--control password-field1" type="password" name="password_2" placeholder="Password" value="{{ fieldValues.password_2 }}">

                                    <div class="input-group-append">
                                        <button class="btn theme-btn-outline theme-btn-outline-gray toggle-password1" type="button">
                                            <svg class="eye-on1" xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 0 24 24" width="22px" fill="#7f8897"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 6c3.79 0 7.17 2.13 8.82 5.5C19.17 14.87 15.79 17 12 17s-7.17-2.13-8.82-5.5C4.83 8.13 8.21 6 12 6m0-2C7 4 2.73 7.11 1 11.5 2.73 15.89 7 19 12 19s9.27-3.11 11-7.5C21.27 7.11 17 4 12 4zm0 5c1.38 0 2.5 1.12 2.5 2.5S13.38 14 12 14s-2.5-1.12-2.5-2.5S10.62 9 12 9m0-2c-2.48 0-4.5 2.02-4.5 4.5S9.52 16 12 16s4.5-2.02 4.5-4.5S14.48 7 12 7z"/></svg>
                                            <svg class="eye-off1" xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 0 24 24" width="22px" fill="#7f8897"><path d="M0 0h24v24H0V0zm0 0h24v24H0V0zm0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"/><path d="M12 6c3.79 0 7.17 2.13 8.82 5.5-.59 1.22-1.42 2.27-2.41 3.12l1.41 1.41c1.39-1.23 2.49-2.77 3.18-4.53C21.27 7.11 17 4 12 4c-1.27 0-2.49.2-3.64.57l1.65 1.65C10.66 6.09 11.32 6 12 6zm-1.07 1.14L13 9.21c.57.25 1.03.71 1.28 1.28l2.07 2.07c.08-.34.14-.7.14-1.07C16.5 9.01 14.48 7 12 7c-.37 0-.72.05-1.07.14zM2.01 3.87l2.68 2.68C3.06 7.83 1.77 9.53 1 11.5 2.73 15.89 7 19 12 19c1.52 0 2.98-.29 4.32-.82l3.42 3.42 1.41-1.41L3.42 2.45 2.01 3.87zm7.5 7.5l2.61 2.61c-.04.01-.08.02-.12.02-1.38 0-2.5-1.12-2.5-2.5 0-.05.01-.08.01-.13zm-3.4-3.4l1.75 1.75c-.23.55-.36 1.15-.36 1.78 0 2.48 2.02 4.5 4.5 4.5.63 0 1.23-.13 1.77-.36l.98.98c-.88.24-1.8.38-2.75.38-3.79 0-7.17-2.13-8.82-5.5.7-1.43 1.72-2.61 2.93-3.53z"/></svg>
                                        </button>
                                    </div>

                                </div>
                                <p class="text-sm text-success passwordMatch1"></p>
                                {% for err in form.password_2.errors %}
                                                <div class="alert alert-danger alert-dismissible fade show">
                                                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="me-2"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
                                                    <strong>{{ err }}</strong>
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">
                                                    </button>
                                                </div>
                                {% endfor %}

                            </div>
                            <div class="form-group">
                                <button id="send-message-btn" class="btn theme-btn w-100" type="submit">Sign up <i class="la la-arrow-right icon ml-1"></i></button>
                            </div><!-- end form-group -->

                        </div><!-- end form-action-wrapper -->
                    </div><!-- end col-lg-5 -->
                </div><!-- end row -->
            </form>
            <p class="text-black text-center fs-15">Already have an account? <a href="{% url 'login' %}" class="text-color hover-underline">Log in</a></p>
        </div><!-- end container -->
        <div class="position-absolute top-0 left-0 w-100 h-100 z-index-n1">
            <svg class="w-100 h-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" fill="#2d86eb" opacity="0.06"></path>
            </svg>
        </div>
    </section>
    <!--======================================
            END SIGN UP AREA
    ======================================-->
    <script src="{% static 'home/js/password_toggle.js' %}"></script>

{% endblock %}
