{% if messages %}
{% for message in messages%}
    <div{% if message.tags %} class="alert alert-{{ message.tags }} solid alert-dismissible fade show" {% endif %}>
									<svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="me-2"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
									{{ message }}
									<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">
                                    </button>
    </div>
{% endfor %}
{% endif %}