{% load static %}

<header class="header-area bg-dark">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2">
                <div class="logo-box">
                    <a href="{% url 'home' %}" class="logo"><img src="{% static 'home/images/logo-white.png' %}" alt="logo"></a>
                    <div class="user-action">
                        <div class="search-menu-toggle icon-element icon-element-xs shadow-sm mr-1" data-toggle="tooltip" data-placement="top" title="Search">
                            <i class="la la-search"></i>
                        </div>
                        <div class="off-canvas-menu-toggle icon-element icon-element-xs shadow-sm" data-toggle="tooltip" data-placement="top" title="Main menu">
                            <i class="la la-bars"></i>
                        </div>
                    </div>
                </div>
            </div><!-- end col-lg-2 -->
            <div class="col-lg-10">
                <div class="menu-wrapper">
                    <nav class="menu-bar mr-auto menu-bar-white">
                        <ul>
                            <li>
                                <a href="{% url 'home' %}">Home </a>
                            </li>
                            <li class="is-mega-menu">
                                <a href="{% url 'question' %}">Quest</i></a>
                            </li>
                            <li>
                                <a href="{% url 'ask_question' %}">Ask Quest</i></a>
                            </li>
                            <li>
                                <a href="{% url 'job_list' %}">Job </a>
                            </li>
                            {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'user_home' %}">Main </a>
                            </li>
                            {% endif %}

                        </ul><!-- end ul -->
                    </nav><!-- end main-menu -->
                    <form method="GET" action="{% url 'question' %}" class="mr-1">
                        {% csrf_token %}
                        <div class="form-group mb-0">
                            <input class="form-control form--control form--control-bg-gray text-white" type="text" name="search_question" placeholder="Search your question ...">
                            <button class="form-btn text-white-50" type="submit"><i class="la la-search"></i></button>
                        </div>
                    </form>
                    {% if user.is_authenticated %}
                    <div class="nav-right-button">
                        <ul class="user-action-wrap d-flex align-items-center">
                            <li class="dropdown">
                                <span class="ball red ball-lg noti-dot totalunreadMain">{{ notification_header_count }}</span>
                                <span class="ajaxRes"></span>
                                <a class="nav-link dropdown-toggle dropdown--toggle" href="#" id="notificationDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="la la-bell"></i>
                                </a>
                                <div class="dropdown-menu dropdown--menu dropdown-menu-right mt-3 keep-open" aria-labelledby="notificationDropdown">
                                    <h6 class="dropdown-header"><i class="la la-bell pr-1 fs-16"></i>Notifications</h6>
                                    <div class="dropdown-divider border-top-gray mb-0"></div>
                                    <div class="dropdown-item-list header-list-notification">
                                        {% for notification_header in notification_header %}
                                        <a class="dropdown-item header-notification-all" href="#">
                                            <div class="media media-card media--card shadow-none mb-0 rounded-0 align-items-center bg-transparent">
                                                <div class="media-img media-img-sm flex-shrink-0">
                                                    <img src="{% static 'profile.png' %}" alt="avatar">
                                                </div>
                                                <div class="media-body p-0 border-left-0">
                                                    <h4 class="fs-14 fw-regular"><b>{{ notification_header.name }} following your post</b></h4>
                                                    <h6 class="fs-14 fw-regular">{{ notification_header.subject }}</h6>
                                                    <small class="meta d-block lh-24">
                                                        <span>{{ notification_header.published_date }}</span>
                                                    </small>
                                                </div>
                                            </div>
                                        </a>
                                        {% endfor %}
                                    </div>
                                    <a class="dropdown-item pb-1 border-bottom-0 text-center btn-text fw-regular" href="{% url 'notifications' %}">View All Notifications <i class="la la-arrow-right icon ml-1"></i></a>
                                </div>
                            </li>
                            <li class="dropdown user-dropdown">
                                <a class="nav-link dropdown-toggle dropdown--toggle pl-2" href="#" id="userMenuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="media media-card media--card shadow-none mb-0 rounded-0 align-items-center bg-transparent">
                                        <div class="media-img media-img-xs flex-shrink-0 rounded-full mr-2">
                                            <img src="{{ profile.user_image.url }}" alt="avatar" class="rounded-full">
                                        </div>
                                        <div class="media-body p-0 border-left-0">
                                            <h5 class="fs-14 text-white">{{ user.full_name }}</h5>
                                        </div>
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown--menu dropdown-menu-right mt-3 keep-open" aria-labelledby="userMenuDropdown">
                                    <h6 class="dropdown-header">Hi, {{ user.full_name }}</h6>
                                    <div class="dropdown-divider border-top-gray mb-0"></div>
                                    <div class="dropdown-item-list">
                                        <a class="dropdown-item" href="{% url 'user_profile' %}"><i class="la la-user mr-2"></i>Profile</a>
                                        <a class="dropdown-item" href="{% url 'notifications' %}"><i class="la la-bell mr-2"></i>Notifications</a>
                                        <a class="dropdown-item" href="{% url 'logout' %}"><i class="la la-power-off mr-2"></i>Log out</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div><!-- end nav-right-button -->
                        {% else %}
                        <div class="nav-right-button">
                        <a href="{% url 'login' %}" class="btn theme-btn theme-btn-outline theme-btn-outline-white mr-2" data-target="{% url 'login' %}"><i class="la la-sign-in mr-1"></i> Login</a>
                        <a href="{% url 'register' %}" class="btn theme-btn theme-btn-white" data-target="{% url 'login' %}"><i class="la la-user mr-1"></i> Sign up</a>

                    </div><!-- end nav-right-button -->
                    {% endif %}


                </div><!-- end menu-wrapper -->
            </div><!-- end col-lg-10 -->
        </div><!-- end row -->
    </div><!-- end container -->
    <div class="off-canvas-menu custom-scrollbar-styled">
        <div class="off-canvas-menu-close icon-element icon-element-sm shadow-sm" data-toggle="tooltip" data-placement="left" title="Close menu">
            <i class="la la-times"></i>
        </div><!-- end off-canvas-menu-close -->
        <ul class="generic-list-item off-canvas-menu-list pt-90px">
                    <li>
                    <a href="{% url 'home' %}">Home </a>
                </li>
                <li class="is-mega-menu">
                    <a href="{% url 'question' %}">Question </a>
                </li>
                <li>
                    <a href="{% url 'ask_question' %}">Ask Question </a>
                </li>
                <li>
                    <a href="{% url 'job_list' %}">Job </a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'user_home' %}">Main </a>
                </li>
                {% endif %}
        </ul>
        <div class="off-canvas-btn-box px-4 pt-5 text-center">
            <a href="{% url 'login' %}" class="btn theme-btn theme-btn-sm theme-btn-outline" data-target="{% url 'login' %}"><i class="la la-sign-in mr-1"></i> Login</a>
            <span class="fs-15 fw-medium d-inline-block mx-2">Or</span>
            <a href="{% url 'register' %}" class="btn theme-btn theme-btn-sm" data-target="{% url 'register' %}"><i class="la la-plus mr-1"></i> Sign up</a>
        </div>
    </div><!-- end off-canvas-menu -->
    <div class="mobile-search-form">
        <div class="d-flex align-items-center">
            <form method="GET" action="{% url 'question' %}" class="flex-grow-1 mr-3">
                {% csrf_token %}
                <div class="form-group mb-0">
                    <input class="form-control form--control pl-40px" type="text" name="search_question" placeholder="Type your search words...">
                    <span class="la la-search input-icon"></span>
                </div>
            </form>
            <div class="search-bar-close icon-element icon-element-sm shadow-sm">
                <i class="la la-times"></i>
            </div><!-- end off-canvas-menu-close -->
        </div>
    </div><!-- end mobile-search-form -->
    <div class="body-overlay"></div>
</header><!-- end header-area -->