{% load static %}

<div class="nav-right-button">
    <ul class="user-action-wrap d-flex align-items-center">
        <li class="dropdown">
            <span class="ball red ball-lg noti-dot totalunreadMain" id="notification-main-count">{{ notification_header_count }}</span>
            <span class="ajaxRes"></span>
            <a class="nav-link dropdown-toggle dropdown--toggle" href="#" id="notificationDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="la la-bell"></i>
            </a>
            <div class="dropdown-menu dropdown--menu dropdown-menu-right mt-3 keep-open" aria-labelledby="notificationDropdown">
                <h6 class="dropdown-header"><i class="la la-bell pr-1 fs-16"></i>Notifications</h6>
                <div class="dropdown-divider border-top-gray mb-0"></div>
                <div class="dropdown-item-list header-list-notification" id="notification-header-list">
                    {% for notification_header in notification_header %}
                    <a class="dropdown-item header-notification-all" href="#">
                        <div class="media media-card media--card shadow-none mb-0 rounded-0 align-items-center bg-transparent">
                            <div class="media-img media-img-sm flex-shrink-0">
                                <img src="{{ notification_header.from_user.user_profile.user_image.url }}" alt="avatar">
                            </div>
                            <div class="media-body p-0 border-left-0">
                                <h4 class="fs-14 fw-regular"><b>Connect request</b></h4>
                                <h6 class="fs-14 fw-regular">{{ notification_header.subject }}</h6>
                                <small class="meta d-block lh-24">
                                    <span>{{ notification_header.published_date }}</span>
                                </small>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <a class="dropdown-item pb-1 border-bottom-0 text-center btn-text fw-regular" href="{% url 'notifications' %}">View All Notifications <i class="la la-arrow-right icon ml-1"></i></a>
            </div>
        </li>
        <li class="dropdown user-dropdown">
            <a class="nav-link dropdown-toggle dropdown--toggle pl-2" href="#" id="userMenuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="media media-card media--card shadow-none mb-0 rounded-0 align-items-center bg-transparent">
                    <div class="media-img media-img-xs flex-shrink-0 rounded-full mr-2">
                        <img src="{{ profile.user_image.url }}" alt="avatar" class="rounded-full">
                    </div>
                    <div class="media-body p-0 border-left-0">
                        <h5 class="fs-14" style="color:  #D3D3D3; font-weight: bold;">{{ user.full_name|capfirst }}</h5>
                    </div>
                </div>
            </a>
            <div class="dropdown-menu dropdown--menu dropdown-menu-right mt-3 keep-open" aria-labelledby="userMenuDropdown">
                <h6 class="dropdown-header">Hi, {{ user.full_name }}</h6>
                <div class="dropdown-divider border-top-gray mb-0"></div>
                <div class="dropdown-item-list">
                    <a class="dropdown-item" href="{% url 'user_profile' %}"><i class="la la-user mr-2"></i>Profile</a>
                    <a class="dropdown-item" href="{% url 'notifications' %}"><i class="la la-bell mr-2"></i>Notifications</a>
                    <a class="dropdown-item" href="{% url 'logout' %}"><i class="la la-power-off mr-2"></i>Log out</a>
                </div>
            </div>
        </li>
    </ul>
</div><!-- end nav-right-button -->